*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	text-align: center;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 250px
}

form{
	width: 40%;
	min-width: 220px;
}
